{% extends "portal/layout.html" %}
{% block content %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">{{_('alerting cases')}}
                <a class="pull-right small" href="/portal/alarm-dash-V2/case_point?status=PROBLEM">{{_('not recovered cases')}}</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="alarms">
                
                {%for key in endpoint_all_page.keys()%}            
                <div class="alarm">
                    <input type="checkbox" alarm="{{endpoint_all_id[key]}}">                    
                    <span class="gray">[</span>
                    <span class="endpoint">{{endpoint_all_page[key][0].endpoint}}</span> 
                    <span class="cut-line">¦</span>
                    <span class="orange">{{endpoint_all_page[key][0].timestamp|time_duration}}</span>
                    <span class="cut-line">¦</span>                
                    <a target="_blank" href="/portal/alarm-dash/case?endpoint_q={{endpoint_all_page[key][0].endpoint}}">{{_('event list case')}}</a>
                    <span class="gray">]</span>
                    
                    <span class="cut-line">¦</span> 
                    <span class="cut-line">¦</span> 
                    problem  &nbsp; {{endpoint_all_page_problem_count[key]}} &nbsp;
                    {%if endpoint_all_problem_metric[key]%}   
                        {%for metric in endpoint_all_problem_metric[key]%}
                            {{metric}}&nbsp;
                        {%endfor%} 
                    {%endif%}
                    <a href="javascript:alarm_endpoint_rm('{{endpoint_all_problem_id[key]}}');">delete</a>
                    </br>                      
                    
                    total &nbsp; {{endpoint_all_page_count[key]}} &nbsp;
                    <a href="javascript:alarm_endpoint_rm('{{endpoint_all_id[key]}}');">delete</a>
                    <span class="cut-line">¦</span> 
                    <span class="cut-line">¦</span>                    
                    ok &nbsp; {{endpoint_all_page_ok_count[key]}} &nbsp;
                        {%if endpoint_all_ok_metric[key]%}   
                            {%for metric in endpoint_all_ok_metric[key]%}
                                {{metric}}
                            {%endfor%}
                        {%endif%}
                    <a href="javascript:alarm_endpoint_rm('{{endpoint_all_ok_id[key]}}');">delete</a>                                     
                    <span class="cut-line">¦</span>
                    <span class="cut-line">¦</span>          
                </div>
                <hr>
                {%endfor%}
                <a href="javascript:alarm_case_all_select();">{{_('select all')}}</a>/
                <a href="javascript:alarm_case_reverse_select();">{{_('reverse select')}}</a>
                <button class="btn btn-warning btn-sm" onclick="alarm_endpoint_batch_rm();">{{_('batch delete')}}</button>
            </div>
        </div>  

            
        {% import "portal/blocks.html" as blocks %}
        <div class="pull-left">
            {{ blocks.pager('/portal/alarm-dash-V2/case_point?status='+status, total, limit, page) }}
        </div>     
        <!----<p>total{{total2}}</p> 
        <p>key_count{{total_different_endpoint_count}}</p>--->
        </br>
        </br>
        <hr>
        <!----<form onsubmit="return false;">---> 


        <form action="/portal/alarm-dash-V2/case_point" method="post">   
            <p>
                删除的 metric_ok: <input type="text" name="metric_ok_delete"><br>
                删除的 metric_problem: <input type="text" name="metric_problem_delete" value="tf_server/"><br>
                evse_删除的 metric_ok: <input type="text" name="evse_metric_ok_delete" value="gpu.alive/">
            </p>
            <p>
                <!--<button type="button" id="metric_submit">提交</button>-->
                <input type="submit" value="提交"> 
            </p>
        </form>
       ok_delete {{delete_metric_ok_html}} <br>
       problem_delete {{delete_metric_problem_html}}<br>
       evse_ok_delete {{evse_delete_metric_ok_html}}<br>
        <!--{{delete_metric_ok_list}}
        {{delete_metric_problem_list}}-->
        ok {{delete_metric_ok_list_point}}<br>
        problem {{delete_metric_problem_list_point}}<br>
        evse {{evse_delete_metric_ok_list_point}}<br>
   

        <a href="javascript:alarm_endpoint_rm('{{delete_metric_ok_list}}');">delete_ok_metric</a><br>
        <a href="javascript:alarm_endpoint_rm('{{evse_delete_metric_ok_list}}');">evse_delete_ok_metric</a>
    </div>
    <script>
        // for i = 0; i< delete_metric_ok_list_point.length; i ++){}
    </script>    
   <!--<script>
            const metricOkDeleteDom = document.getElementById('metric_ok_delete')
            const metricProblemDeleteDom = document.getElementById('metric_problem_delete')
            const metricSubmitDom = document.getElementById('metric_submit')

            metricSubmitDom.onclick = () => {
                $.ajax({
                url : `/portal/alarm-dash/case_point`,
                dataType: 'json',
                type : 'POST',
                data: {
                    metric_ok_delete: metricOkDeleteDom.value,
                    metric_problem_delete: metricProblemDeleteDom.value,
                },
                contentType: "application/json",})
                .done((data) => {
                    console.log(data);
                    
                })
            }

    </script>-->
    
    <!---<script>
        const AI_CLOTH_HOST = "https://www.yyyy.com"
       
        $(document).ready(() => {
            $.ajax({
                url : `${AI_CLOTH_HOST}/machineAlias/v2`,
                
                dataType: 'json',
                type : 'GET',
                xhrFields: {
                    withCredentials: true
                },

                crossDomain: true,
                contentType: "application/json",})
                .done((data) => {
                    const endpointNodes = $(".endpoint")
                    const reg = new RegExp().compile("[0-9a-fA-F]{2}(-[0-9a-fA-F]{2}){5}")

                    Array.from(endpointNodes).forEach(ele => {
                        let upperMatch = ""
                        const aliasedText = ele.innerText.replace(reg, (match) => {
                            upperMatch = match.toUpperCase()
                            const alias = data.AliasMap[upperMatch]
                            return alias ? `${alias}(${upperMatch})` : upperMatch
                        })
                        if(upperMatch){
                            const snapshotUrl = `${AI_CLOTH_HOST}/detectionMachine/machineSnapshot/html/${upperMatch}`
                            ele.innerHTML = `<a href="${snapshotUrl}" target="_black">${aliasedText}</a>`
                        }
                    });
                })

        })
    </script>--->
 <script>
     // Reload page for every X minutes.
     setInterval(function() {
        location.reload();
     }, 3 * 60 *1000);
</script>
        <span style='color: red;'></span>
        <script type="text/javascript">

        document.body.innerHTML = document.body.innerHTML.replace(/gpu.alive/ig,"<span style='color: red;'>$&</span>");
        document.body.innerHTML = document.body.innerHTML.replace(/tf_server/ig,"<span style='color: red;'>$&</span>");
    </script> 

{%endblock%}
