{% extends "portal/layout.html" %}
{% block content %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">{{_('alerting cases')}}
                <a class="pull-right small" href="/portal/alarm-dash/case?status=PROBLEM&endpoint_q={{endpoint_q}}">{{_('not recovered cases')}}</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="alarms">
                {%for case in cases%}
                <div class="alarm">
                    <input type="checkbox" alarm="{{case.id}}">
                    {{case.status}} P{{case.priority}}
                    [第<span class="orange">#{{case.current_step}}</span>次/最大{{case.max_step}}次]
                    <span class="orange">{{case.timestamp|time_duration}}</span>
                    <span class="gray">[</span>
                    <a href="/portal/template/view/{{case.template_id}}" target="_blank">template</a>

                    {%if case.strategy_id>0%}
                    <span class="cut-line">¦</span>
                    <a href="/portal/strategy/{{case.strategy_id}}" target="_blank">strategy</a>
                    {%endif%}

                    {%if case.expression_id>0%}
                    <span class="cut-line">¦</span>
                    <a href="/portal/expression/view/{{case.expression_id}}" target="_blank">expression</a>
                    {%endif%}

                    <span class="cut-line">¦</span>
                    <a href="javascript:alarm_case_rm('{{case.id}}');">delete</a>
                    <span class="cut-line">¦</span>
                    <a href="/portal/alarm-dash/case/event?case_id={{case.id}}">{{_('event list')}}</a>
                    <span class="gray">]</span>
                    </br>

                    <span style="padding-left:17px;"> 
                        <span class="endpoint">{{case.endpoint}}</span> 
                        <span class="cut-line">¦</span> 
                        {{case.metric}}
                        <span class="cut-line">¦</span> 
                        {{case.func}} 
                        <span class="cut-line">¦</span> 
                        {{case.cond}}</span>
                        <span class="cut-line">¦</span> 
                        <span class="gray">note: {{case.note}}</span>
                </div>
                <hr>
                {%endfor%}
                <a href="javascript:alarm_case_all_select();">{{_('select all')}}</a>/
                <a href="javascript:alarm_case_reverse_select();">{{_('reverse select')}}</a>
                <button class="btn btn-warning btn-sm" onclick="alarm_case_batch_rm();">{{_('batch delete')}}</button>
            </div>
        </div>

 

        {% import "portal/blocks.html" as blocks %}
        <div class="pull-left">
                {% set uri = '/portal/alarm-dash/case?status=' %}
                {% if endpoint_q %}
                {% set uri = uri + '&endpoint_q=' + endpoint_q %}
                {% endif %}
                {% set uri = uri + status %} 
            {{ blocks.pager(uri,total, limit, page) }}
        </div>
        </br>
        </br>
        <hr>
    

        <form action="/portal/alarm-dash/case" method="post">   
            <p>
                删除的 metric_ok: <input type="text" name="metric_ok_delete"><br>
                删除的 metric_problem: <input type="text" name="metric_problem_delete" value="tf_server/"><br>
                evse_删除的 metric_ok: <input type="text" name="evse_metric_ok_delete" value="gpu.alive/">
            </p>
            <p>
                <!--<button type="button" id="metric_submit">提交</button>-->
                <input type="submit" value="提交"> 
            </p>
        </form>
        ok_delete {{case_delete_metric_ok_html}} <br>
        problem_delete {{case_delete_metric_problem_html}}<br>
        evse_ok_delete {{evse_case_delete_metric_ok_html}}<br>
        <!--{{delete_metric_ok_list}}
         {{delete_metric_problem_list}}-->
        ok {{case_delete_metric_ok_list_point}}<br>
        problem {{case_delete_metric_problem_list_point}}<br>
        evse {{evse_case_delete_metric_ok_list_point}}<br>


        <a href="javascript:alarm_endpoint_rm('{{case_delete_metric_ok_list}}');">delete_ok_metric</a><br>
        <a href="javascript:alarm_endpoint_rm('{{evse_case_delete_metric_ok_list}}');">evse_delete_ok_metric</a>
    </div>
        <script>
                for i = 0; i< case_delete_metric_ok_list_point.length; i ++){}
        </script>    






    <script>
        const AI_CLOTH_HOST = "https://ai-cloth.hypereal.com"

        $(document).ready(() => {
            $.ajax({
                url : `${AI_CLOTH_HOST}/machineAlias/v2`,
                dataType: 'json',
                type : 'GET',
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                contentType: "application/json",})
                .done((data) => {
                    const endpointNodes = $(".endpoint")
                    const reg = new RegExp().compile("[0-9a-fA-F]{2}(-[0-9a-fA-F]{2}){5}")

                    Array.from(endpointNodes).forEach(ele => {
                        let upperMatch = ""
                        const aliasedText = ele.innerText.replace(reg, (match) => {
                            upperMatch = match.toUpperCase()
                            const alias = data.AliasMap[upperMatch]
                            return alias ? `${alias}(${upperMatch})` : upperMatch
                        })
                        if(upperMatch){
                            const snapshotUrl = `${AI_CLOTH_HOST}/detectionMachine/machineSnapshot/html/${upperMatch}`
                            ele.innerHTML = `<a href="${snapshotUrl}" target="_black">${aliasedText}</a>`
                        }
                    });
                })
        })
    </script>
            
    <script>
            // Reload page for every X minutes.
            setInterval(function() {
               location.reload();
            }, 3 * 60 *1000);
    </script>
       
       <span style='color: red;'></span>
    <script type="text/javascript">
           document.body.innerHTML = document.body.innerHTML.replace(/gpu.alive|gpu掉线了，请知悉/ig,"<span style='color: red;'>$&</span>");
           document.body.innerHTML = document.body.innerHTML.replace(/tf_server/ig,"<span style='color: red;'>$&</span>");
           document.body.innerHTML = document.body.innerHTML.replace(/40-B0-76-5F-2E-50|40-B0-76-5F-2F-B3|40-B0-76-5F-2B-06|04-92-26-D2-72-38|04-92-26-D0-9E-17|70-85-C2-88-2C-70|70-85-C2-88-26-D0|70-85-C2-81-24-A6|70-85-C2-88-2C-A2|4C-ED-FB-43-1E-FF/ig,"<span style='color: red;'>$&</span>");
    </script>
{%endblock%}
