[Unit]
Description=agentCore

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/work/prometheus/push-scripts/agentCore.py
User = root
Restart=on-failure

[Install]
WantedBy=multi-user.target